# Rules are evaluated in order. If a file matches multiple patterns, the last matching rule takes precedence.
# We don't use a default ownership rule that applies to all files.

/.github/CODEOWNERS @TNATALI @laureanobrs