# Enable Bzlmod.
common --enable_bzlmod
common --registry=https://raw.githubusercontent.com/world-federation-of-advertisers/bazel-registry/main
common --registry=https://bcr.bazel.build

# Use clang as C++ compiler.
build --repo_env='CC=clang'

# Use C++17 language features.
build --cxxopt='-std=c++17'

# Use JDK 11. See https://github.com/bazelbuild/bazel/issues/6245.
build --java_runtime_version=remotejdk_11

# Target Java 9.
build --java_language_version=9

# Pass environment variables.
test --test_env TESTCONTAINERS_RYUK_DISABLED=true

# Configuration for continuous integration (CI).
common:ci --lockfile_mode=error
build:ci --compilation_mode=opt
build:ci --host_platform //build/platforms:ubuntu_20_04

# Configuration for GitHub Container Registry
build:ghcr --define container_registry=ghcr.io
build:ghcr --define image_repo_prefix=world-federation-of-advertisers

# Convenience platform configurations.
build:debian-bullseye --platforms=//build/platforms:debian_bullseye
build:ubuntu-bionic --platforms=//build/platforms:ubuntu_bionic

import %workspace%/container.bazelrc
import %workspace%/maven.bazelrc
import %workspace%/remote.bazelrc
import %workspace%/results.bazelrc
