# Enable Bzlmod.
common --enable_bzlmod
common --registry=https://raw.githubusercontent.com/world-federation-of-advertisers/bazel-registry/main
common --registry=https://bcr.bazel.build

# Use clang as C++ compiler.
build --repo_env='CC=clang'

# Use C++17 language features.
build --cxxopt='-std=c++17'

# Use JDK 17.
build --java_runtime_version=remotejdk_17

# Target Java 11.
build --java_language_version=11

# Pass environment variables.
test --test_env TESTCONTAINERS_RYUK_DISABLED=true

# Configuration for remote cache.
build --noremote_upload_local_results  # Do not upload by default
build --remote_download_outputs=minimal
build --remote_timeout=3600
build:remote-cache --remote_cache=grpcs://halo-cmm.buildbuddy.io
build:remote-cache --experimental_remote_cache_compression
build:remote-cache --experimental_remote_cache_compression_threshold=100
# These next three flags are due to a workaround for missing digests described here
# https://www.buildbuddy.io/docs/troubleshooting-rbe/#cachenotfoundexception-missing-digest
build:remote-cache --experimental_remote_cache_eviction_retries=5
build:remote-cache --experimental_remote_cache_lease_extension=true
build:remote-cache --experimental_remote_cache_ttl=3h

# Configuration for continuous integration (CI).
common:ci --lockfile_mode=error
build:ci --compilation_mode=opt
build:ci --build_metadata=ROLE=CI
build:ci --build_metadata=VISIBILITY=PUBLIC
build:ci --config=remote-cache
build:ci --config=results
build:ci --config=remote

# Configuration for GitHub Container Registry
build:ghcr --define container_registry=ghcr.io
build:ghcr --define image_repo_prefix=world-federation-of-advertisers

# Convenience platform configurations.
build:debian-bullseye --platforms=//build/platforms:debian_bullseye
build:ubuntu-bionic --platforms=//build/platforms:ubuntu_bionic

import %workspace%/container.bazelrc
import %workspace%/maven.bazelrc
import %workspace%/remote.bazelrc
import %workspace%/results.bazelrc
try-import %workspace%/auth.bazelrc
