# Bazel convenience symlinks.
/bazel-*

# Bazel IntelliJ projects.
/.ijwb/
/.clwb/

# IntelliJ projects.
.idea/
*.iml

# VIM swap files
*.swp

# Local Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
**/.terraform.lock.hcl
