absl-py~=2.1.0
numpy~=2.1.0
scipy~=1.14.1
highs~=1.7.2
highspy~=1.7.2
osqp~=0.6.3
qdldl~=0.1.7
qpsolvers~=4.3.3
tzdata~=2024.1
six~=1.16.0
dateutil~=2.9.0
python-dateutil>=2.8.2
pytz~=2024.1
et-xmlfile~=1.1.0
openpyxl~=3.1.5
pandas~=2.2.2
pytest~=8.3.2
lxml~=5.3.0
googleapis-common-protos~=1.65.0
black
