apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
data:
  default.conf: |
    server {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        listen       80;
        listen  [::]:80;

        location / {
            auth_basic "Authentication is required";
            auth_basic_user_file /etc/nginx/passwords/file;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-ui
  labels:
    app: demo-ui
spec:
  selector:
    matchLabels:
      app: demo-ui
  template:
    metadata:
      annotations:
        gke-gcsfuse/volumes: "true"
      labels:
        app: demo-ui
    spec:
      terminationGracePeriodSeconds: 60
      containers:
      - image: nginx
        name: nginx
        volumeMounts:
        - name: website
          mountPath: /usr/share/nginx/html
          subPath: website
        - name: nginx-conf
          mountPath: /etc/nginx/conf.d
        - name: website
          mountPath: /etc/nginx/passwords
          subPath: config
      volumes:
      - name: website
        csi:
          driver: gcsfuse.csi.storage.gke.io
          readOnly: true
          volumeAttributes:
            bucketName: demo_reporting_ui_k8s
            mountOptions: "implicit-dirs"
      - name: nginx-conf
        configMap:
          name: nginx-conf
          items:
            - key: default.conf
              path: default.conf
      restartPolicy: Always
      serviceAccountName: reporting-ui
---
apiVersion: v1
kind: Service
metadata:
  name: demo-ui
  labels:
    app: demo-ui
spec:
  selector:
    app: demo-ui
  ports:
    - protocol: TCP
      port: 80
  type: LoadBalancer
