#header-title {
    color: #000000;
    font-family: myFirstFont;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

#get-report-header-menu {
    margin: 0px 8px 0px 32px;
}

#header-collapse > svg {
    margin-right: 8px;
}