# Copyright 2025 The Cross-Media Measurement Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Attach CLIs to release

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  attach-clis-to-release:
    name: Attach CLIs to release
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Check out revision
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up Bazel
        uses: world-federation-of-advertisers/actions/setup-bazel@a9407321ceb8da9912face58a8139603678c869d # v2.5.0

      - name: Write auth.bazelrc
        env:
          BUILDBUDDY_API_KEY: ${{ secrets.BUILDBUDDY_API_KEY }}
        run: |
          cat << EOF > auth.bazelrc
          build --remote_header=x-buildbuddy-api-key=$BUILDBUDDY_API_KEY
          EOF

      - name: Write ~/.bazelrc
        run: |
          cat << EOF > ~/.bazelrc
          common --config=ci
          build --remote_download_all
          EOF

      - name: Build CLI uber jars
        run: >
          bazel build
          //src/main/kotlin/org/wfanet/measurement/api/v2alpha/tools:MeasurementSystem_deploy.jar
          //src/main/kotlin/org/wfanet/measurement/api/v2alpha/tools:EncryptionPublicKeys_deploy.jar
          //src/main/kotlin/org/wfanet/measurement/api/v2alpha/tools:EventTemplateValidator_deploy.jar
          //src/main/kotlin/org/wfanet/measurement/reporting/service/api/v2alpha/tools:Reporting_deploy.jar
          //src/main/kotlin/org/wfanet/measurement/access/deploy/tools:Access_deploy.jar
          //src/main/kotlin/org/wfanet/measurement/kingdom/deploy/tools:ModelRepository_deploy.jar

      - name: Build CLI pyzips
        run: >
          bazel build
          //src/main/python/wfa/measurement/reporting/postprocessing/tools:log_processor_pyzip

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: 'v3.0.2'

      - name: Authenticate to Google Cloud for image signing
        uses: google-github-actions/auth@c200f3691d83b41bf9bbd8638997a462592937ed # v2.1.13
        with:
          workload_identity_provider: ${{ vars.IMAGE_SIGNING_RELEASE_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.IMAGE_SIGNING_RELEASE_SA }}

      - name: Sign and upload artifacts
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KMS_KEY_RESOURCE_NAME: "${{ vars.IMAGE_SIGNING_RELEASE_KEY_RESOURCE_NAME }}"
        run: |
          set -euo pipefail
          artifacts=(
            ./bazel-bin/src/main/kotlin/org/wfanet/measurement/api/v2alpha/tools/MeasurementSystem_deploy.jar
            ./bazel-bin/src/main/kotlin/org/wfanet/measurement/api/v2alpha/tools/EncryptionPublicKeys_deploy.jar
            ./bazel-bin/src/main/kotlin/org/wfanet/measurement/api/v2alpha/tools/EventTemplateValidator_deploy.jar
            ./bazel-bin/src/main/kotlin/org/wfanet/measurement/reporting/service/api/v2alpha/tools/Reporting_deploy.jar
            ./bazel-bin/src/main/kotlin/org/wfanet/measurement/access/deploy/tools/Access_deploy.jar
            ./bazel-bin/src/main/kotlin/org/wfanet/measurement/kingdom/deploy/tools/ModelRepository_deploy.jar
            ./bazel-bin/src/main/python/wfa/measurement/reporting/postprocessing/tools/log_processor.zip
          )

          echo "Signing artifacts:"
          for artifact in "${artifacts[@]}"; do
            cosign sign-blob --tlog-upload=false --key="gcpkms://${KMS_KEY_RESOURCE_NAME}" --bundle="${artifact}.sigstore.json" "${artifact}"
          done

          echo "Attaching artifacts to release:"
          artifacts_to_upload=()
          for artifact in "${artifacts[@]}"; do
            artifacts_to_upload+=("${artifact}" "${artifact}.sigstore.json")
          done
          gh release upload "${{ github.event.release.tag_name }}" "${artifacts_to_upload[@]}" --clobber