# Copyright 2024 The Cross-Media Measurement Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Release test

on:
  push:
    branches:
    - main
    - 'releases/**'
  pull_request:
    branches:
    - main
    - 'releases/**'
    types: [ opened, synchronize, edited ]
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-test:
    name: Build and test
    runs-on: ubuntu-20.04
    env:
      CLUSTER_LOGS_PATH: cluster-logs
    steps:
    - name: Check out revision
      uses: actions/checkout@v3

    - uses: ./.github/actions/free-disk-space

    - name: Write ~/.bazelrc
      run: |
        cat << EOF > ~/.bazelrc
        build -c opt 
        build --host_platform //build/platforms:ubuntu_20_04
        EOF

    - name: Get Bazel cache params
      id: get-cache-params
      uses: world-federation-of-advertisers/actions/bazel-get-cache-params@v2
      with:
        cache-version: 1

    - name: Restore Bazel cache
      uses: actions/cache/restore@v3
      with:
        path: ${{ steps.get-cache-params.outputs.cache-path }}
        key: ${{ steps.get-cache-params.outputs.cache-key }}
        restore-keys: |-
          ${{ steps.get-cache-params.outputs.restore-key }}

    - name: Build
      run: >
        bazelisk build --worker_quit_after_build
        //src/test/kotlin/org/wfanet/measurement/integration/deploy/gcloud:GCloudSpannerInProcessReachMeasurementAccuracyTest

    - name: Run tests
      id: run-tests
      run: >
        bazelisk test 
        //src/test/kotlin/org/wfanet/measurement/integration/deploy/gcloud:GCloudSpannerInProcessReachMeasurementAccuracyTest
        --test_output=streamed

    - name: Upload Bazel testlogs
      continue-on-error: true
      uses: world-federation-of-advertisers/actions/bazel-upload-testlogs@v2
      if: failure() && (steps.run-tests.outcome == 'failure')
