# Copyright 2023 The Cross-Media Measurement Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Run Kubernetes tests

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: choice
        options:
        - dev

permissions:
  id-token: write

jobs:
  run-tests:
    runs-on: ubuntu-20.04
    environment: ${{ inputs.environment }}
    steps:
    - uses: actions/checkout@v3

    # Authenticate to Google Cloud. This will export some environment
    # variables, including GCLOUD_PROJECT.
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        workload_identity_provider: ${{ vars.WORKLOAD_IDENTITY_PROVIDER }}
        service_account: ${{ vars.SIMULATOR_SERVICE_ACCOUNT }}

    - name: Write ~/.bazelrc
      env:
        STORAGE_BUCKET: ${{ vars.STORAGE_BUCKET }}
        KINGDOM_PUBLIC_API_TARGET: ${{ vars.KINGDOM_PUBLIC_API_TARGET }}
        MC_NAME: ${{ vars.MC_NAME }}
        MC_API_KEY: ${{ secrets.MC_API_KEY }}
      run: |
        cat << EOF > ~/.bazelrc
        build -c opt 
        build --host_platform //build/platforms:ubuntu_20_04
        build --define google_cloud_project=$GCLOUD_PROJECT
        build --define kingdom_public_api_target=$KINGDOM_PUBLIC_API_TARGET
        build --define simulator_storage_bucket=$STORAGE_BUCKET
        build --define mc_name=$MC_NAME
        build --define mc_api_key=$MC_API_KEY
        build --test_env=GOOGLE_APPLICATION_CREDENTIALS
        EOF

    - name: Get Bazel cache params
      id: get-cache-params
      uses: world-federation-of-advertisers/actions/bazel-get-cache-params@v2
      with:
        cache-version: 1

    - name: Restore Bazel cache
      uses: actions/cache/restore@v3
      with:
        path: ${{ steps.get-cache-params.outputs.cache-path }}
        key: ${{ steps.get-cache-params.outputs.cache-key }}
        restore-keys: |-
          ${{ steps.get-cache-params.outputs.restore-key }}

    - name: Run tests
      id: run-tests
      run: >
        bazelisk test
        //src/test/kotlin/org/wfanet/measurement/integration/k8s:GcsCorrectnessTest
        --test_output=streamed

    - name: Upload Bazel testlogs
      continue-on-error: true
      uses: world-federation-of-advertisers/actions/bazel-upload-testlogs@v2
      if: failure() && steps.run-tests.outcome == 'failure'
